@model IEnumerable<Villa_Web.Models.NumeroVillaDto>

@{
    ViewData["Title"] = "IndexNumeroVilla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>IndexNumeroVilla</h1>

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Lista de numero de villas</h1>
        </div>

        <div class="col text-end pt-1">
            <a asp-controller="NumeroVilla" asp-action="CrearNumeroVilla" class="btn btn-outline-primary">
                <i class="bi bi-plus-square-fill"></i>
                Crear nuevo numero de villa
            </a>
        </div>
    </div>


    <table class="table">
        <thead>
        <th>Nombre de la villa</th>
        <th>Numero de la villa</th>
        <th></th>
        <th></th>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Villa.Nombre</td>
                    <td>@item.NoVilla</td>
                    <td>
                        <a asp-controller="NumeroVilla" asp-action="ActualizarNumeroVilla" asp-route-villaNo="@item.NoVilla" class="btn btn-success">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>

                    <td>
                        <a asp-controller="NumeroVilla" asp-action="RemoverNumeroVilla" asp-route-villaNo="@item.NoVilla" class="btn btn-danger">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

